/*----------- RESPONSIVE CSS STYLECHEET -------------------*/
/************************************************************
************************************************************/
@media only screen and (max-width: 1200px){
	.site-header .apoio ul li form input {
		border: none;
		color: #fff;
		background: #c66223;
		padding: 9px 47px 9px 10px;
		max-width: 383px;
		width: 260px;
	}

	.site-header .nav .menu-nav-menu-container .menu .menu-item {
		font-size: 14px;
	}

	.logo img{
		width: 80%;
	}
	
	.site-header .nav .menu-nav-menu-container .menu .menu-item .sub-menu {
		position: absolute;
		display: none;
		top: 38px;
	}

	.posts .bt-banner {
		padding: 15px 31px;
	}

	.post-info h6{
		font-size: 10px;
	}
	
	.post-info h3{
		font-size: 18px;
	}

	.posts .post-content .post-info p {
  		font-size: 14px;
  	}

  	.newsletter .socials {
		display: block;
		float: left;
		width: 37.33333%;
		padding: 0px 10px 0 93px;
	}

	footer {
		background: url('../images/footer/footer-1.png') no-repeat 663px 0 #f47d31;
		padding: 50px 0 0 0;
		background-size: 45%;
	}

}

@media only screen and (max-width: 991px){
	.home-slider {
		padding-top: 35px;
	}
	.site-header .apoio ul li {
		font-size: 10px;
	}

	.site-header .apoio ul li form input {
	  border: none;
	  color: #fff;
	  background: #c66223;
	  padding: 9px 47px 9px 10px;
	  max-width: 383px;
	  width: 130px;
	}
	.site-header .nav .menu-nav-menu-container .menu .menu-item {
		padding: 10px 10px;
		  font-size: 12px;
	}
	.logo img {
	  width: 70%;
	}

	.supper-banner{
		display: none;
	} 

	.box-padding .box {
		background: #fff;
		border: 1px solid #000;
		padding: 30px 0;
		top: 25%;
		left: 30%;
	}

	.newsletter .socials {
  display: block;
  float: left;
  width: 57.33333%;
  padding: 0px 10px 0 93px;
}

.footer-top .col-md-2, .footer-top .col-md-3{
	display: block;
	float: left;
}

.site-header.sticky .nav .menu-nav-menu-container .menu li a{
	font-size: 12px;
}

footer {
  background: url('../images/footer/footer-1.png') no-repeat 473px 0 #f47d31;
  padding: 50px 0 0 0;
  background-size: 51%;
}

.site-header .nav .logo {
  padding: 10px 0;
  width: 150px;
}

}

@media only screen and (max-width: 767px){
.site-header .apoio{
	display: none;
}

.site-header .nav{
	margin-top: 0px;
}

.home-slider {
  padding-top: 0px;
}

.posts .post-content {
	padding-left: 15px;
}

.posts .post-content:nth-child(1), .posts .post-content:nth-child(3){
	padding-right: 7px;
}
.posts .post-content:nth-child(2), .posts .post-content:nth-child(4){
	padding-left: 7px;
}

footer {
  background: url('../images/footer/footer-1.png') no-repeat 360px 0 #f47d31;
  padding: 50px 0 0 0;
  background-size: 66%;
}


}

@media only screen and (max-width: 765px){
	.site-header{
	position: fixed;
    width: 100%;
    z-index: 1;
	}

	.home-slider {
  padding-top: 55px;
}
	#hamburger {
	display: block;
	}

	.menu-nav-menu-container{
	opacity: 0;		
  left: 0px;
  top: 0px;
  position: fixed;
  z-index: 0;
  width: 70%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f47d31;
  background: -moz-linear-gradient(top, #f47d31 0%, #f47d31 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f47d31), color-stop(100%, #f47d31));
  background: -webkit-linear-gradient(top, #f47d31 0%, #f47d31 100%);
  background: -o-linear-gradient(top, #f47d31 0%, #f47d31 100%);
  background: -ms-linear-gradient(top, #f47d31 0%, #f47d31 100%);
  background: linear-gradient(to bottom, #f47d31 0%, #f47d31 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47d31', endColorstr='#f47d31', GradientType=0);
	}

	.site-header .nav .menu-nav-menu-container .menu .menu-item {
		padding: 5px 10px;
		font-size: 12px;
		display: block;
	}

	#contentLayer {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  z-index: 5;
}

.site-header .nav .menu-nav-menu-container .menu .menu-item .sub-menu{
	display: none;
  position: relative;
  top: 0;
  padding: 0;
  background: none;
}

.site-header .nav .menu-nav-menu-container .menu .menu-item .sub-menu li {
  display: block;
  padding: 5px 15px;
  text-transform: none;
  list-style-type: disc;
  border-bottom: 1px solid #E2722A;
  }

  .site-header .nav .menu-nav-menu-container .menu .menu-item .sub-menu li a{
  	color: #fff;
  }

  .site-header .nav .menu-nav-menu-container .menu .menu-item a {
  color: #fff;
}

.site-header .nav .menu-nav-menu-container .menu .menu-item:hover {
  background: none;
}

.site-header .nav .menu-nav-menu-container .menu .menu-item-57:hover .sub-menu, .site-header .nav .menu-nav-menu-container .menu .menu-item-63:hover .sub-menu, .site-header .nav .menu-nav-menu-container .menu .menu-item-68:hover .sub-menu {
  display: block;
  background: none;

}

@media only screen and (max-width: 565px){
	footer{
		background: #f47d31;
	}

	.newsletter .socials {
  display: block;
  float: left;
  width: 44.33333%;
  padding: 0px 10px 0 20px;
}

.newsletter .signature {
  display: block;
  float: left;
  width: 43.33333%;
  padding-right: 20px;
}
}

