.sidebar {
	font-size: 75%;
	margin-top: 20px;

	a {
		position: relative;
		display: block;
	}

	img {
		width: 100%;
		height: auto;
		margin-bottom: -3px;
	}

	p {
		font-size: 0.75em;
		color: $color-orange;
		text-align: center;
		text-transform: uppercase;
		background: purple;
		padding: 20px 0;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
	}
}