#base {
	font-size: 150%;
	@include user-select(none);

	&.show-menu {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;

		menu {
			opacity: 1;
			pointer-events: auto;
@include transition(.6s 0s);

			li { margin-left: 0; }
		}
	}
}

header { background: white; }

.top {
	background: $color-orange;
	width: 100%;
	position: fixed;
	top: -268px;
	display: table;
	z-index: 20;
	@include transition($timer-standard);

	nav {
		position: relative;
		z-index: 20;
	}

	ul { padding: 10px 0; }

	li {
		display: flex;
		justify-content: center;
	}

	a {
		font-size: .75em;
		color: white;
		padding: 10px 0;
		display: block;
	}

	form {
		background: darken($color-orange, 15%);
		width: 100%;
		margin: 10px 0;
		display: flex;
	}

	input {
		@include input-placeholder { color: white; }

		&[type="text"] {
			color: white;
			height: 36px;
			padding: 0 10px;
			flex: 1 1 auto;
		}

		&[type="submit"] {
			background: url(#{$assets-path}imgs/search.png) center center no-repeat;
			width: 36px;
			height: 24px;
			border-left: 1px solid white;
			margin: 6px 0;
		}
	}

	button {
		background: $color-orange;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		margin-left: -30px;
		position: absolute;
		left: 50%;
		bottom: -30px;
		z-index: 10;

		&:before {
			content: '';
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid white;
			margin: 5px 0 0 -10px;
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(rotate(-180deg));
			@include transition($timer-standard);
		}
	}

	&.helping { top: -228px; }

	&.opened {
		top: 0;

		button:before { @include transform(rotate(-360deg)); }
	}
}

h1 {
	height: 140px;
	padding: 40px 0;
	display: flex;
	justify-content: center;
}

.bars {
	width: 30px;
	height: 27px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 54px;
	right: 15px;
}

.bar {
	background: black;
	width: 100%;
	height: 5px;
	display: block;
}

menu {
	background: transparentize(white, .2);
	width: 100%;
	position: absolute;
	top: 140px;
	bottom: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	@include transition($timer-slow $timer-slow);

	ul {
		width: 100%;
		float: right;
	}

	li { margin-left: 110%; }

	@for $i from 1 to 7 {
		li:nth-of-type(#{$i}) {
			@include transition(.6s .1s * $i);
		}
	}

	a {
		font-size: 1em;
		color: lighten(black, 20%);
		text-transform: uppercase;
		text-align: right;
		padding: 10px 0;
		display: block;
	}
}