.owl-carousel{
    .item{
        width: 100vw;
        height: 700px;
        @include breakpoint(sm){
            height: 50vh;
        }
        background-size: cover;
        background-position: center top;
    }
}

#carousel-nav{
    position: absolute;
    z-index: 4;
    top: 350px;
    width: 100%;
}