$laranja: #F47D31;
$laranja-escuro: #C66223;
$cinza-claro: #D1D3D4;

@mixin transition(){
    transition: all .15s ease;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

@mixin font2{
    font-family: 'Alegreya Sans', sans-serif;
}