.bg-gray {
    margin-top: 20px;
    padding: 16px 0;
    background-color: #2b2b2b;
    overflow: hidden;
}

.footer {
    @include column(12);


    .social {
        width: 20px;
        height: 20px;
        margin-right: 12px;
        display: inline-block;
        float: left;

        &.first {
            margin-right: 3px;
        }
    }

    .signature {
        width: 59px;
        height: 5px;
        margin-top: 10px;
        float: right;
        display: inline-block
    }
}

