/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$boleto_white_name = 'boleto--white';
$boleto_white_x = 69px;
$boleto_white_y = 50px;
$boleto_white_offset_x = -69px;
$boleto_white_offset_y = -50px;
$boleto_white_width = 20px;
$boleto_white_height = 12px;
$boleto_white_total_width = 118px;
$boleto_white_total_height = 74px;
$boleto_white_image = '../images/sprite/sprite.png';
$boleto_white = 69px 50px -69px -50px 20px 12px 118px 74px '../images/sprite/sprite.png' 'boleto--white';
$boleto_gray_name = 'boleto-gray';
$boleto_gray_x = 69px;
$boleto_gray_y = 33px;
$boleto_gray_offset_x = -69px;
$boleto_gray_offset_y = -33px;
$boleto_gray_width = 20px;
$boleto_gray_height = 12px;
$boleto_gray_total_width = 118px;
$boleto_gray_total_height = 74px;
$boleto_gray_image = '../images/sprite/sprite.png';
$boleto_gray = 69px 33px -69px -33px 20px 12px 118px 74px '../images/sprite/sprite.png' 'boleto-gray';
$close_icon_name = 'close-icon';
$close_icon_x = 0px;
$close_icon_y = 40px;
$close_icon_offset_x = 0px;
$close_icon_offset_y = -40px;
$close_icon_width = 24px;
$close_icon_height = 24px;
$close_icon_total_width = 118px;
$close_icon_total_height = 74px;
$close_icon_image = '../images/sprite/sprite.png';
$close_icon = 0px 40px 0px -40px 24px 24px 118px 74px '../images/sprite/sprite.png' 'close-icon';
$facebook_icon_name = 'facebook-icon';
$facebook_icon_x = 94px;
$facebook_icon_y = 21px;
$facebook_icon_offset_x = -94px;
$facebook_icon_offset_y = -21px;
$facebook_icon_width = 12px;
$facebook_icon_height = 24px;
$facebook_icon_total_width = 118px;
$facebook_icon_total_height = 74px;
$facebook_icon_image = '../images/sprite/sprite.png';
$facebook_icon = 94px 21px -94px -21px 12px 24px 118px 74px '../images/sprite/sprite.png' 'facebook-icon';
$info_icon_name = 'info-icon';
$info_icon_x = 29px;
$info_icon_y = 40px;
$info_icon_offset_x = -29px;
$info_icon_offset_y = -40px;
$info_icon_width = 24px;
$info_icon_height = 24px;
$info_icon_total_width = 118px;
$info_icon_total_height = 74px;
$info_icon_image = '../images/sprite/sprite.png';
$info_icon = 29px 40px -29px -40px 24px 24px 118px 74px '../images/sprite/sprite.png' 'info-icon';
$instagran_icon_name = 'instagran-icon';
$instagran_icon_x = 40px;
$instagran_icon_y = 0px;
$instagran_icon_offset_x = -40px;
$instagran_icon_offset_y = 0px;
$instagran_icon_width = 24px;
$instagran_icon_height = 24px;
$instagran_icon_total_width = 118px;
$instagran_icon_total_height = 74px;
$instagran_icon_image = '../images/sprite/sprite.png';
$instagran_icon = 40px 0px -40px 0px 24px 24px 118px 74px '../images/sprite/sprite.png' 'instagran-icon';
$location_icon_name = 'location-icon';
$location_icon_x = 94px;
$location_icon_y = 50px;
$location_icon_offset_x = -94px;
$location_icon_offset_y = -50px;
$location_icon_width = 14px;
$location_icon_height = 20px;
$location_icon_total_width = 118px;
$location_icon_total_height = 74px;
$location_icon_image = '../images/sprite/sprite.png';
$location_icon = 94px 50px -94px -50px 14px 20px 118px 74px '../images/sprite/sprite.png' 'location-icon';
$mkt_ass_name = 'mkt-ass';
$mkt_ass_x = 0px;
$mkt_ass_y = 69px;
$mkt_ass_offset_x = 0px;
$mkt_ass_offset_y = -69px;
$mkt_ass_width = 58px;
$mkt_ass_height = 5px;
$mkt_ass_total_width = 118px;
$mkt_ass_total_height = 74px;
$mkt_ass_image = '../images/sprite/sprite.png';
$mkt_ass = 0px 69px 0px -69px 58px 5px 118px 74px '../images/sprite/sprite.png' 'mkt-ass';
$search_icon_name = 'search-icon';
$search_icon_x = 0px;
$search_icon_y = 0px;
$search_icon_offset_x = 0px;
$search_icon_offset_y = 0px;
$search_icon_width = 35px;
$search_icon_height = 35px;
$search_icon_total_width = 118px;
$search_icon_total_height = 74px;
$search_icon_image = '../images/sprite/sprite.png';
$search_icon = 0px 0px 0px 0px 35px 35px 118px 74px '../images/sprite/sprite.png' 'search-icon';
$slide_control_name = 'slide-control';
$slide_control_x = 69px;
$slide_control_y = 0px;
$slide_control_offset_x = -69px;
$slide_control_offset_y = 0px;
$slide_control_width = 20px;
$slide_control_height = 28px;
$slide_control_total_width = 118px;
$slide_control_total_height = 74px;
$slide_control_image = '../images/sprite/sprite.png';
$slide_control = 69px 0px -69px 0px 20px 28px 118px 74px '../images/sprite/sprite.png' 'slide-control';
$youtube_icon_name = 'youtube-icon';
$youtube_icon_x = 94px;
$youtube_icon_y = 0px;
$youtube_icon_offset_x = -94px;
$youtube_icon_offset_y = 0px;
$youtube_icon_width = 24px;
$youtube_icon_height = 16px;
$youtube_icon_total_width = 118px;
$youtube_icon_total_height = 74px;
$youtube_icon_image = '../images/sprite/sprite.png';
$youtube_icon = 94px 0px -94px 0px 24px 16px 118px 74px '../images/sprite/sprite.png' 'youtube-icon';
$spritesheet_width = 118px;
$spritesheet_height = 74px;
$spritesheet_image = '../images/sprite/sprite.png';
$spritesheet_sprites = $boleto_white $boleto_gray $close_icon $facebook_icon $info_icon $instagran_icon $location_icon $mkt_ass $search_icon $slide_control $youtube_icon;
$spritesheet = 118px 74px '../images/sprite/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
