/* Base
   ========================================================================== */
// Maximum width grid system
grid_maxwith = rem(1276px)
// Columns Paddding
column_padding = rem(15px)
// Colors
orange = #f47d31
orange-dark = #c66223
white-gray = #d1d3d4
gray = #58595b
gray-dark1 = #333132
gray-dark2 = #949697
white = #ffffff
purple = #58207b
purpleOpacity = rgba(88,32,132, .8)