@media only screen and (max-width: 1276px) {

    .wrap {
        width: auto;
        margin: 0 30px;
    }

    header .search-form {
        width: 300px;
    }
    header .header-navigation-top-wrap {
        justify-content: space-between;
    }

    section#blog .superbanner {
        width: 32%;
    }
    section#blog .superbanner img {
        display: block;
        height: auto;
        width: 100%;
    }
    section#blog .blog-posts {
        width: 65%;
    }
    section#blog .blog-posts .post {
        width: 48.5%;
    }
    section#blog .blog-posts .post img {
        height: auto;
        width: 100%;
    }


}

@media only screen and (max-width: 990px) {

    header {
        position: inherit;
    }
    header.headroom--not-top {
        position: fixed;
    }
    header .header-navigation-top {
        display: none;
    }
    header .header-navigation-wrap {
        box-sizing: border-box;
        padding: 15px 0;
    }
    header .logo {
        position: relative;
        z-index: 9999;
    }
    header .logo,
    header .logo > a,
    header .logo img {
        display: block;
        height: 100%;
    }
    header .logo img {
        width: auto;
    }

    header .menu-default-container {
        background-color: #fff;
        height: 100%;
        left: 0;
        padding: 75px 30px 0 10px;
        position: fixed;
        top: 0;
        transform: translate(-100%, 0px);
        transition: all 0.3s ease-in-out 0s;
        z-index: 9998;
    }
    header .menu-default-container.open {
        transform: translate(0px, 0px);
    }
    header .menu-default-container.shadow {
        box-shadow: 30px -10px 50px rgba(0, 0, 0, 0.4);
    }
    header #header-navigation-menu #menu-default {
        flex-direction: column;
    }
    header #header-navigation-menu #menu-default li {
        height: 40px;
        line-height: 40px;
    }
    header #header-navigation-menu #menu-default li a,
    header #header-navigation-menu #menu-default li a:visited {
        font-size: 18px;
    }
    header #header-navigation-menu #menu-default li .sub-menu {
        display: none !important;
        height: 0 !important;
        visibility: hidden !important;
    }
    #menu-toggle {
        display: block;
    }

    section#blog .superbanner {
        display: none;
    }
    section#blog .blog-posts {
        width: 100%;
    }
    section#blog .blog-posts .post {
        width: 48.5%;
    }

    section#media .media-container {
        align-items: center;
        flex-direction: column;
    }
    section#media .newsletter, section#media .socials {
        flex: inherit;
        width: inherit;
    }
    section#media .newsletter {
        margin-bottom: 40px;
    }
    section#media .socials .socials-btns {
        justify-content: center;
    }

    section#maps {
        height: auto;
    }
    section#maps .maps-control {
        justify-content: center;
        left: inherit !important;
        position: inherit !important;
        top: inherit !important;
    }
    section#maps #map {
        height: 350px;
    }

    footer .menu li.proposta {
        visibility: visible;
    }

}

@media only screen and (max-width: 600px) {

    section#blog .blog-posts .post {
        width: 100%;
    }

    section#maps .maps-control {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
    }
    section#maps .map-control-separator {
        border: medium none;
        height: auto;
        margin: 0;
        padding: 25px 0;
    }
    section#maps .map-control-separator::after {
        background-color: transparent;
        bottom: inherit;
        left: inherit;
        position: inherit;
    }
    section#maps .map-control-cep h6 {
        text-align: center;
    }

}

@media only screen and (max-width: 480px) {

    .wrap {
        margin: 0 16px;
    }

    section#slide .slick-dots {
        display: none !important;
    }

    section#maps .maps-control {
        padding: 30px 16px;
    }
    section#maps .map-control-cep {
        width: 100%;
    }
    section#maps .map-control-cep-form {
        width: 100%;
    }

    section#media .newsletter,
    section#media .newsletter .newsletter-form {
        width: 100%;
    }
    footer {
        background-image: none;
    }
    footer .footer-container {
        height: auto;
    }
    footer .footer-links {
        flex-direction: column;
    }
    footer .footer-part {
        flex: 0 1 100%;
        width: 100%;
        margin-bottom: 40px;
    }
    footer .mktvirtual {
        bottom: inherit;
        display: block;
        position: inherit;
        right: inherit;
        text-align: center;
    }
    footer .footer-reg > p {
        text-align: center;
        margin-bottom: 20px;
    }

}
