/*=================================
=            Variables            =
=================================*/
$assets-path: '../../assets/';

$timer-standard:   .4s;
$timer-very-rapid: $timer-standard * 0.25;
$timer-rapid:      $timer-standard * 0.5;
$timer-slow:       $timer-standard * 1.5;
$timer-very-slow:  $timer-standard * 2;

$color-orange: #f47d31;
/*=====  End of Variables  ======*/


/*===============================
=            Imports            =
===============================*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
/*=====  End of Imports  ======*/


/*===============================
=            Builder            =
===============================*/
@import
'compass/reset',
'compass/css3',
'../app/modules/reset',
'../app/modules/grid',
'../app/base';
/*=====  End of Builder  ======*/