/**/
/*----------  Banners  ----------*/
#banners {
	overflow: hidden;

	.slick-slide { overflow: hidden; }

	.slick-arrow {
		text-indent: 9999px;
		background: rgba(black, .2);
		width: 10%;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 10;
		pointer-events: none;

		&:before {
			content: '';
			background: url(#{$assets-path}imgs/arrow.png) center center no-repeat;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			pointer-events: auto;
		}

		&.slick-next {
			right: 0;

			&:before { @include transform(rotate(180deg)); }
		}
	}

	.slick-dots { display: none !important; }

	img {
		width: 200%;
		height: auto;
		margin-left: -50%;
	}
}

@media (min-width: 768px) {
	#banners img {
		width: 100%;
		margin-left: 0%;
	}
}

@media (min-width: 992px) {
	#banners {
		.slick-arrow { background: transparent; }

		.slick-dots {
			display: block !important;
			position: absolute;
			right: 0;
			bottom: 10px;
			left: 0;
			@include display-flex(flex !important);
			@include justify-content(center);

			li {
				margin: 0 4px;

				&[aria-hidden="false"] button:before {
					content: '';
					background: white;
					border-radius: 50%;
					position: absolute;
					top: 1px;
					right: 1px;
					bottom: 1px;
					left: 1px;
				}
			}

			button {
				text-indent: 9999px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				border: 1px solid white;
				position: relative;
			}
		}

		img {
			width: 100%;
			margin-left: 0%;
		}
	}
}
/*----------  Banners  ----------*/
/**/