.wrapper {
	.posts {
		font-size: 75%;
		margin: -10px;

		.preview {
			padding: 10px;
			position: relative;
		}

		img {
			width: 100%;
			height: auto;
			margin-bottom: -3px;
		}

		.info {
			text-align: center;
			position: absolute;
			top: 25px;
			right: 25px;
			bottom: 25px;
			left: 25px;
			@include display-flex(flex);
			@include flex-direction(column);

			&.position-top-left {
				@include justify-content(flex-start);
				@include align-items(flex-start);
			}

			&.position-top-center {
				@include justify-content(flex-start);
				@include align-items(center);
			}

			&.position-top-right {
				@include justify-content(flex-start);
				@include align-items(flex-end);
			}

			&.position-center-left {
				@include justify-content(center);
				@include align-items(flex-start);
			}

			&.position-center-center {
				@include justify-content(center);
				@include align-items(center);
			}

			&.position-center-right {
				@include justify-content(center);
				@include align-items(flex-end);
			}

			&.position-bottom-left {
				@include justify-content(flex-end);
				@include align-items(flex-start);
			}

			&.position-bottom-center {
				@include justify-content(flex-end);
				@include align-items(center);
			}

			&.position-bottom-right {
				@include justify-content(flex-end);
				@include align-items(flex-end);
			}
		}

		.itens { max-width: 70%; }

		.text-light  { color: lighten(black, 40%); }
		.text-strong { color: lighten(black, 20%); }
		.text-shadow {
			text-shadow:  1px  1px white,
						 -1px -1px white,
						  1px -1px white,
						 -1px  1px white;
		}
		.uppercase   { text-transform: uppercase; }
		.space       { margin: 10px 0; }

		.category {
			@extend .text-light;
			@extend .text-shadow;
			@extend .uppercase;
			font-size: 0.75em;
		}

		h3 {
			@extend .text-strong;
			@extend .text-shadow;
			@extend .uppercase;
			@extend .space;
			font-size: 1.5em;
		}

		p {
			@extend .text-strong;
			@extend .text-shadow;
			@extend .space;
			font-size: 1em;
		}

		a {
			@extend .text-light;
			@extend .uppercase;
			font-size: 0.75em;
			color: lighten(black, 20%);
			background: white;
			padding: 10px 20px;
			border: 1px solid lighten(black, 20%);
			display: inline-block;
		}
	}
	.sidebar {
		font-size: 75%;
		margin-top: 20px;

		a {
			height: 200px;
			overflow: hidden;
			position: relative;
			display: block;
		}

		img {
			width: 100%;
			height: auto;
			margin-bottom: -3px;
		}

		p {
			font-size: 0.75em;
			color: $color-orange;
			text-align: center;
			text-transform: uppercase;
			background: purple;
			padding: 20px 0;
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}

@media (min-width: 600px) {
	.wrapper .posts {
		display: table;

		.preview {
			width: 50%;
			float: left;
		}
	}
}