* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*, a { font-family: 'Montserrat', sans-serif; }

a { text-decoration: none; }

input,
button {
	background: transparent;
	border: none;
	outline: none;
}

button { cursor: pointer; }