html,body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #333132;
    font-size: 12px;
}

div#container{
    position: relative;
    width: 100;
    min-height: 100%;
}

.navbar{
    background-color: #f47d31;
    border-radius: 0px;
    margin: 0;
    min-height: 30px;
    border: none;
}

.navbar ul li{
    padding-right: 8px;
    padding-left: 8px;
}

.navbar ul li a{
    padding: 0px;
    color: #fff;
    padding: 5px 10px;
}

.navbar ul li a:hover,
.navbar ul li a:focus{
    background-color: transparent;
}


.navbar ul li div#busca{
    background-color: rgba(8, 8, 8, 0.25);
    height: 30px;
    width: 350px;
}

.navbar ul li div#busca input[type="text"] {
    background: transparent;
    height: 20px;
    width: 90%;
    margin-top: 5px;
    padding: 0 10px;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: none;
    border-left: none;
    color: #fff;
    font-size: 12px;
    outline: none;
}

.navbar ul li div#busca input[type="text"]::-webkit-input-placeholder  { color:#fff }
.navbar ul li div#busca input[type="text"]:-moz-placeholder { color:#fff; }
.navbar ul li div#busca input[type="text"]::-moz-placeholder { color:#fff; }

#newsletter input[type="text"]::-webkit-input-placeholder  { color: #58595b; }
#newsletter input[type="text"]:-moz-placeholder { color: #58595b; }
#newsletter input[type="text"]::-moz-placeholder { color: #58595b; }

.navbar-toggle .icon-bar{
    background-color: #fff;
}

button#submit-search {
    background-color: transparent;
    border: none;
    color: #fff;
}

#slider{
    position: relative;
    padding: 0;
}

a#logo{
    margin-top: 50px;
    padding-left: 0;
    float: left;
    width: 10px;
}


div#categorias ul li{
    display: inline-block;
    margin: 0 20px;
}

div#categorias ul li a{
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

div#slider-up {
    position: absolute;
    top: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
}

div#categorias {
    margin-top: 65px;
}

#tree-categorias{ display: none; }
#tree-categorias ul.nav.navbar-nav {
    margin-left: 0;
}

div#categorias{ display:block; }

.navbar .logo{
    display: none;
    float: left;
}

.navbar .logo img {
    width: 105px;
    padding: 10px;
}

@media (max-width: 768px) {
    #tree-categorias{ display: block; }
    div#categorias{ display:none; }
    .navbar .logo{ display: block; }
    a#logo{ display: none; }
    .nav.navbar-nav.pull-right{ float: none !important; }
    footer#main-footer{background-image: none !important; !important}
}

section#content{
    min-height: 150px;
    padding-bottom: 673px;
}

div#inner-content{
    position: relative;
    max-width: 1300px;
    padding: 35px  0;
    margin: 0 auto;
}

footer#main-footer{
    min-height: 1069px;
    width: 100%;
    padding-top: 0px;
    background-color: rgba(245, 125, 49,1);
    background-repeat: no-repeat;
    background-position: 110% 100%;
    background-image: url('images/footer/footer.jpg');
}

footer#main-footer #inner-footer{
    padding: 50px 30px 20px 30px;
    color: #fff;
    position: relative;
}

#inner-footer,
#inner-footer ul li a{
    color: #fff;
}

#inner-footer ul{
    margin: 0;
    font-size:12px;
    padding: 0;
    list-style: none;
}

#inner-footer ul li{
    padding: 0;
}

div#mapa-site ul li,
div#lista-atalhos ul li{
    margin: 7.5px 0;
}

div#sac ul li{
    display: inline-block;
}

div#sac ul li:first-child{
    margin-right: 20px;
}

#inner-footer h4{
    text-transform: uppercase;
    font-size: 12px;
    margin: 0 0 20px 0;
}

.copyright p{
    font-family: 'Alegreya Sans', sans-serif;
    color: #fff;
}

div#sac ul {
    margin-top: -5px;
}

div#localizacao{
    position: relative;
    height: 350px;
    background-image: url('images/footer/localizacao-cortada.jpg');
    border-top: 1px solid #d1d3d4;
}

div#localizacao div#inner-localizacao{
    /* width: 610px; */
    /* height: 118px; */
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d1d3d4;
    padding: 25px 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -305px;
    margin-top: -57px;
}

div#map-marker {
    float: left;
    border-right: 1px solid #d1d3d4;
    width: 50px;
    height: 40px;
    padding-top: 9px;
    margin-top: 5px;
}

button#achar-localizacao {
    width: 208px;
    height: 66px;
    padding: 6px 0 0 0;
    margin-bottom: 10px;
}

div#digitar-cep {
    position: relative;
    float: right;
    width: 280px;
    margin: -10px 0 0 0;
}

div#digitar-cep label, #newsletter label{
    text-transform: uppercase;
    font-size: 12px;
    margin: 10px 0 10px 0;
    font-weight: normal;
}

div#digitar-cep form {
    position: relative;
    background: #d1d3d4;
    height: 50px;
    width: 290px;
    padding: 0 0 0 15px;
}

div#digitar-cep form input[type=text]{
    width: 170px;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    font-family: 'Alegreya Sans', sans-serif;
}

div#proposta-adesao{
    position: relative;
    margin-bottom: 20px;
}

div#proposta-adesao a {
    width: 100%;
    height: 100%;
    display: block;
    color: #f7802c;
}

div#proposta-adesao div {
    height: 50px;
    text-align: center;
    background-color: #58207b;
    padding: 16px 0;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: -50px;
}

.post-box {
    margin-bottom: 20px;
}

.post-box .post-content {
    position: absolute;
    z-index: 2;
}

.post-content{
    text-align: center;
    width: 230px;
}

div.post-content h1{
    font-size: 24px;
    text-transform: uppercase;
    margin: 10px 0;
}

.post-content p {
    margin-bottom: 30px;
}

.post-content a {
    padding: 5px 20px;
    margin-top: 10px;
}

.post-content .categoria {
    text-transform: uppercase;
    margin: 0;
    color: #58595b;
    font-weight: bold;
}


div#post-24 .post-content {
    bottom: 20px;
    left: 50%;
    margin-left: -110px;
}


div#post-29 .post-content {
    bottom: 25px;
    left: 50%;
    margin-left: -115px;
}

#post-27 .post-content {
    right: 10px;
    top: 110px;
}

#post-22 .post-content {
    top: 15px;
    left: 20px;
}

#proposta-adesao img {
    width: 100%;
}

.post-box img{
    width: 100% !important;
    height: auto;
}

.nav i.fa.fa-barcode {
    border: 1px solid #fff;
    padding: 2px 2px 0;
    font-size: 14px;
}

img.divisao {position: absolute;top:10px;left: 260px;}

div#newsletter {
    position: relative;
    height: 395px;
    background-color: #fff;
    border-top: 1px solid #d1d3d4;
}

#newsletter form {
    position: relative;
    background: #d1d3d4;
    height: 50px;
    max-width: 350px;
    padding: 0 0 0 15px;
}

#newsletter input[type="text"] {
    max-width: 250px;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    font-family: 'Alegreya Sans', sans-serif;
    width: 100%;
}

#newsletter label {
    text-transform: uppercase;
}

#newsletter .inner {
    padding-top: 120px;
}

#redes-sociais ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    margin: 0 28px 0 0;
    padding: 7px 0;
    text-align: center;
}

#redes-sociais ul{
    margin: 0;
    padding: 0;
}

#redes-sociais ul li a {
    color: #000;
    font-size: 24px;
}

#newsletter label {
    margin-bottom: 20px;
}

#redes-sociais p {
    margin-bottom: 20px;
    text-transform: uppercase;
}


.bt{
    background-color: #fff;
    border: 1px solid #58595b;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 10px;
    color: #58595b;
}

.box-newsletter {
    margin-bottom: 40px;
}

.codigo-barras {
    float: left;
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 3px;
    border-right: 1px solid #d1d3d4;
}

#inner-footer .bt {
    width: 180px;
}

.codigo-barras i {
    border: 1px solid;
    padding: 2px 4px 0 4px;
}

div#mapa-site, 
div#lista-atalhos {
    margin-bottom: 40px;
}

.inner-localizacao {
    background-color: #fff;
    border: 1px solid #000;
    padding: 25px 20px;
    max-width: 620px;
    margin-top: 95px;
}

.mkt {
    position: absolute;
    right: 50px;
    bottom: 10px;
}