[class*="btn"]{
	text-decoration:none;
	color:#fff;
	padding:10px 60px;
	text-align:center;
	transition:linear 0.2s all;
	text-transform:uppercase;
	font-weight:700;
	@include fontSize(14px);

	&[class*="--pink"]{
		border:3px solid $color-1;
		background: $color-1;
		&:hover{
			color:$color-1;
		}
	}
	&:hover{
		background:none;
	}
}


[class*="title"]{
	font-weight:400;
	font-family:$variant-font;
	position:relative;
	color:$color-1;
	&[class*="--main"]{
		@include fontSize(50px);
		text-align:center;
		&:before,
		&:after{
			content:"";
			height:1px;
			background-color:$color-1;
			width:25%;
			position:absolute;
			top:50%;
		}
		&:before{
			left:0;
		}
		&:after{
			right:0;
		}
	}
	&[class*="--intern"]{
		@include fontSize(35px);
	}	
}


.relative{
	position:relative;
}

.z-10{
	z-index:10;
}




