/*PADDING*/

        @for $i from 1 through 10 {
            .pd-#{$i * 10} {
                padding: $i * 10px;
            }
            .pd-#{$i * 10}--left {
                padding-left: $i * 10px;
            }
            .pd-#{$i * 10}--right {
                padding-right: $i * 10px;
            }
            .pd-#{$i * 10}--top {
                padding-top: $i * 10px;
            }
            .pd-#{$i * 10}--bottom {
                padding-bottom: $i * 10px;
            }
        }

